{% extends "basetemplate2.html" %}

{% block title %}
Välkommen till vår sajt
{% endblock %}

{% block content %}


    {% for c in customers  %}
    <table>
        <tr>
            <td>
                {{ c.GivenName }}
            </td>
            <td>
                {{ c.Surname }}
            </td>
            <td>
                {{ c.City }}
            </td>
            <td>
                <a href="/customer/{{ c.Id }}" class="btn">More info</a>
            </td>
        </tr>
    
    {% endfor %}
</table>
    {% endblock %}    