{% extends "basetemplate.html" %}

{% block title %}
Transfer Money
{% endblock %}

{% block content %}

    {% for field, errors in form.errors.items() %}
    {{ form[field].label }}: {{ ', '.join(errors) }}
    </br>
    {% endfor %}

    <h3>
      Select account number and type in ammount:
   </h3>
   <form method="post" class="form-control">
    {{ form.csrf_token }}
    {{ form.Id(placeholder="Enter AccountNumber") }} <br><br>
    {{ form.Amount(placeholder="Enter Amount") }} <br><br>
    
    <input type="submit" value="Save">
    
   </form>
{% endblock %}